
<collapsible-list [type]="'accordion'">  
  <collapsible-list-item>
    <collapsible-header class="waves-effect" >
      Project
    </collapsible-header>
    <collapsible-body [expanded]="false">
      <left-bar-project></left-bar-project>
    </collapsible-body>
  </collapsible-list-item>

  <collapsible-list-item>
    <collapsible-header class="waves-effect">
      Resource
    </collapsible-header>
    <collapsible-body [expanded]="false">
      <left-bar-resource></left-bar-resource>
    </collapsible-body>
  </collapsible-list-item>
  <collapsible-list-item>
    <collapsible-header class="waves-effect">
      Activity
    </collapsible-header>
    <collapsible-body [expanded]="false">
      <left-bar-activity></left-bar-activity>
    </collapsible-body>
  </collapsible-list-item>

</collapsible-list>
<!--<div>
<img src="assets/Images/HR.gif" style="height: 100%;width:100%">
</div>-->