<nav class="navbar navbar-inverse navbar-fixed-top">
  <angular-loader></angular-loader>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a (click)="GotoHomePage()" class="navbar-brand" href="#">Project Management</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!--<ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      </ul>-->
      <ul class="nav navbar-nav navbar-right">
        <li style="padding:15px;color:white;">Welcome {{currentUser()}}</li>
        <li style="padding:8px;">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
  <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li (click)="logout()"><a href="#">logout</a></li>
              <!--<li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>-->
            </ul>
          </div>
        </li>


      </ul>
    </div>
  </div>
</nav>