ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 200px;*/
    background-color:#0a6db1;
   
}

li a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: left;
    border-bottom: 1px solid #555;
    cursor: pointer;    
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.textbox { 
    background: #FFF url(/assets/Images/Search_Image.jpg) no-repeat 4px 4px; 
    border: 1px solid #999; 
    outline:0; 
    padding-left: 25px;
    height:25px; 
    width: 172px; 
    background-size: 17px;
  } 
