<div class="col-md-offset-1">
  <tabs>
    <tab tabTitle="Resource Details">
       <resource-selected-resourcedtl [resourceCollection]="resourceCollection" [resourceId]="NewId"></resource-selected-resourcedtl>
    </tab>
    <tab tabTitle="Project Details">
       <span *ngIf="projectAssignedDetails.length==0">No Records Found</span>
      <resource-selected-projectdtl *ngIf="projectAssignedDetails.length>0"
        [projectAssignedDetails]="projectAssignedDetails" [projecttDetails]="projecttDetails"></resource-selected-projectdtl>
    </tab>
    <tab tabTitle="Resource hierarchy">
  <resource-selected-resourcehierarcy [resourceForHierarchy]="resourceCollection" [resourceId]="NewId"></resource-selected-resourcehierarcy>
    </tab>
  </tabs>
</div>