<div class="col-md-offset-1">
  <tabs>
    <tab tabTitle="Resource Details">
       <resource-selected-resourcedtl [resourceCollection]="resourceCollection" [resourceId]="NewId"></resource-selected-resourcedtl>
    </tab>
    <tab tabTitle="Project Details">
      <resource-selected-projectdtl [projectAssignedDetails]="projectAssignedDetails" [projecttDetails]="projecttDetails"></resource-selected-projectdtl>
    </tab>
    <tab tabTitle="Resource hierarchy">
  <resource-selected-resourcehierarcy [resourceForHierarchy]="resourceCollection" [resourceId]="NewId"></resource-selected-resourcehierarcy>
    </tab>
  </tabs>
</div>