<!--<img src="assets/Images/Root.jpg" *ngIf="IsFromParent && data.Name !='' && data.Name !=undefined" style="width: 30px;">-->

    <span  [ngClass]="IsFromParent==true? 'yellowNode': 'treeNodeStyle'" *ngIf="dataDown.Name !='' && dataDown.Name !=undefined">{{dataDown.Name}}</span>
    <span *ngIf="dataDown.Name =='' || dataDown.Name ==undefined">No reportee Found</span>
    <ul class="ulTreeNode" *ngIf="dataDown.Children && dataDown.Children.length > 0">
        <li *ngFor="let child of dataDown.Children">
            <tree-item [dataDown]="child" [IsFromParent]="false"></tree-item>
        </li>
    </ul>
